#workbench {
	color: #333;
	width: 1080px;
	margin: 0px auto;
	text-align: center;
}

#image-hub {
	width: 300px;
	height: 300px;
}

#current_page{
	font-family: arial, verdana;
	font-size: 12px;
	border:1px #000000 solid;
	padding: 6px;
	margin: 3px;
	background-color: #f00;
	text-decoration: none;
}

#link_text {
	text-decoration: none;
	font-weight: bold;
}

.right_button {
	text-align: right;
	padding-right: 20px;
}

#click_link {
	font-family: arial, verdana;
	font-size: 12px;
	border:1px #000000 solid;
	color: #ff0000;
	background-color: lightblue;
	padding: 6px;
	margin: 3px;
	text-decoration: none;
}

#row-head {
	background-color: lightblue;
	color: black;
	font-weight: bold;
}

#table-main {
	border: none;
	border-collapse: collapse;
	width: 1080px;
	margin: 0px auto;
	text-align: left;
	font-family: arial, verdana;
}

#button_back {
    background-color: black;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
	font-weight: bold;
	font-family: Arial, verdana;
}

#button_view {
    background-color: black;
    border: none;
    color: white;
    padding: 4px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
	font-weight: bold;
	font-family: Arial, verdana;
}

form {
	margin-bottom: 0px;
}